$spaceSize: 2.5%;
$smallerSpaceSize: .5%;

ul {
  &.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -$spaceSize;

    li {
      display: inline-block;
      padding: 10px;
      margin: 0 0 $spaceSize $spaceSize;
      background: $secondaryBackgroundColor;
      border: 1px solid #ddd;
      font-size: 16px;
      font-size: 1rem;
      vertical-align: top;
      box-shadow: 0 0 5px #ddd;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      img {
        max-width: 100%;
        height: auto;
        margin: 0 0 10px;
      }

      h3 {
        margin: 0 0 5px;
      }

      p {
        font-size: .9em;
        line-height: 1.5em;
        color: $secondaryBackgroundColor;
      }
    }
    &.columns-4 {
      li {
        width: 100% / 4 - $spaceSize;
      }
    }

    &.columns-6 {
      li {
        width: 100% / 6 - $smallerSpaceSize;
      }
    }
    &.manufacturers {
      margin-left: -$smallerSpaceSize;

      li {
        margin: 0 0 $smallerSpaceSize $smallerSpaceSize;
        text-align: center;
        height: 100px;
        display: inline-block;
        position: relative;

        img {
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}
