header {
  width: 100%;
  height: 100px;
  display: table;
  table-layout: fixed;
  align-items: center;
  font-size: 1.2em;
  div {
    display: table-cell;
  }
  .company {
    width: 70px;
    a {
      background: url("images/logo.png") no-repeat;
      background-size: contain;
      background-position: 50%;
      width: 70px;
      height: 70px;
      display: table-cell;
    }
  }

  .shopping_cart {
    text-align: right;
    padding: 2em 3em 1em;

    a {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      font-size: .9em;

      &:hover {
        text-decoration: none;
      }

      &.shopping_cart_icon {
        background: url("images/icons/shopping_cart.png") no-repeat;
        height:32px;
        width: 32px;
        float: right;
        margin-left:1em;
      }
    }

    span {
      font-size: .8em;
    }
  }
}
