@import "variables";
@import "cart";
@import "catalog";
@import "pagination";
@import "header";
@import "orderhistory";
@import "ordersummary";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $defaultFontColor;
}

body {
  font-family: $defaultFontFamily;
  background: $defaultBackgroundColor;
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
html, body {
  height: 100%;
}
#promo_container {
  width: 100%;
  height: 150px;
  margin: 0 0 .5em 0;
  background: url("images/tools.jpg") repeat-x;
}

input {
  &.inputfile {
    display: none;
  }
}

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: $defaultBackgroundColor;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 0;
}

#search {
  border-top: 3px solid $borderColor;
  border-bottom: 3px solid $borderColor;
  width: 100%;
  margin-bottom: 1em;

  label {
    display: none;
  }
  input {
    &.inputsearch {
      border: none;
      height: 2em;
      font-size: 1em;
      width: 100%;
      z-index: 1;
      padding: 1.5em 2.5em;
      background: url("images/icons/search.png") no-repeat;
      outline: none;
      background-position: 0 50%;
      margin: 1em 0;
    }
  }
}

.categories {
  clear: both;
  ul {
    list-style: none;

    li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      color: $secondaryFontColor;
      margin-right: 1em;
      line-height: 2em;
      margin-bottom: .5em;
      cursor: pointer;

      &.active {
        border-bottom: 3px solid $borderColor;
        color: $defaultFontColor;
      }

      &:hover {
        border-bottom: 3px solid $secondaryFontColor;
      }
    }
  }
}

@media (max-width: 700px) {
  @import "mobile/main.scss";
}

@media (min-width: 701px){
  @import "menu";
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
