.navigation {
  text-align: center;
  overflow: auto;
  list-style: none;
}
.nav-trigger {
  display: none;
}

.nav-item {
  float: left;
  width: 1 / 6 * 100%;
  padding: 1em;
  font-weight:bold;

  &:hover {
    background: $highlightedFontColor;

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }
}