.navigation {
  text-align: center;
  overflow: auto;
  list-style: none;
}
.nav-trigger {
  display: none;
}

.nav-item {
  font-size: 1.2em;
  float: left;
  width: 1 / 6 * 100%;
  padding: 1em;
  font-weight:bold;
  &.active {
    background: $highlightedFontColor;
     a{
       color: #fff;
       text-decoration: none;
     }
  }
  &:hover {
    background: $highlightedFontColor;

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }
}