$defaultFontFamily: Verdana;
$defaultFontColor: #4c4c4c;
$secondaryFontColor: #ccc;
$highlightedFontColor: #e95233;
$selectedColor: #eaeaea;
$defaultBackgroundColor: #EFEFEF;
$secondaryBackgroundColor: #fafafa;
$borderColor: #000;