$defaultFontFamily: Verdana;
$defaultFontColor: #4c4c4c;
$menuBackgroundColor: #fafafa;
$secondaryFontColor: #ccc;
$highlightedFontColor: #E95233;
$selectedColor: #eaeaea;
$defaultBackgroundColor: #fff;
$secondaryBackgroundColor: #fafafa;
$borderColor: #000;