* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ededed;
    font-family: Verdana;
    width: 80%;
    margin: 0 auto;
}

ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%;
}

ul.rig.manufacturers {
    margin-left: -.5%;
}

ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.rig.manufacturers li {
    margin: 0 0 .5% .5%;
    text-align: center;
    height: 100px;
    display: inline-block;
    position: relative;
}

ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
ul.rig.manufacturers li img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul.rig li h3 {
    margin: 0 0 5px;
}

ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}

ul.rig.columns-4 li {
    width: 22.5%;
}

ul.rig.columns-6 li {
    width: 16.15%;
}

#promo_container {
    width: 100%;
    height: 150px;
    margin: 0 0 .5em 0;
    background: url("images/tools.jpg") repeat-x;
}

.wrapper {
    margin: .5em;
}

#search input {
    border: none;
    height: 2em;
    font-size: 1em;
    width: 100%;
    z-index: 1;
    padding: 2em 2.5em;
    background: url("images/icons/search.png") no-repeat;
    outline: none;
    background-position: 0 50%;
    margin: 1em 0;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

/* Top menu */
ul.topnav {
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding: .5em;
}

ul.topnav li {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 0 2em;
}

ul.topnav li a {
    color: #000;
    text-decoration: none;
}

ul.topnav li:hover {
    text-decoration: underline;
}

ul.topnav li.icon {
    display: none;
}

nav {
    width: 100%;
    padding: .2em;
    font-size: .9em;
    line-height: 1.8em;
    background: #fff;
    font-family: Verdana;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #ccc;
    margin-right: 1em;
    line-height: 2em;
    margin-bottom: .5em;
    cursor: pointer;
}

.categories ul li:hover {
    border-bottom: 3px solid #ccc;
}

.categories ul li.active {
    border-bottom: 3px solid #000;
    color: #000;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

header .company_logo {
    background: url("images/logo.jpg") no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 33%;
    height: 70px;
    display: inline-block;
}

header .company_info {
    float: left;
    width: 33%;
}
header .company_info ul {
    list-style: none;
}
header .company_info ul li {
    font-weight:bold;
    font-size: .8em;
}
header .shopping_cart {
    width: 33%;
    text-align: right;;
    float: right;
    background: url("images/icons/shopping_cart.png") no-repeat;
    background-position: 100%;
    padding: 5px 50px 5px 0px;
}

header .shopping_cart p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
}

header .shopping_cart span {
    font-size: .8em;
}

@media (max-width: 700px) {
    body {
        width: 100%;
    }
    header {
        width: inherit;
        float: right;
        height: inherit;
    }
    header .company_info, header .company_logo {
        display: none;
    }
    header .shopping_cart {
        width: 100%;
    }
    #promo_container {
        display: none;
    }

    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }

    ul.grid-nav li a {
        display: block;
    }

    ul.rig {
        margin-left: 0;
    }

    ul.rig li {
        width: 49.5% !important; /* over-ride all li styles */
        margin: 0 0 1% 1%;
    }

    ul.rig li:nth-child(odd) {
        margin-left: 0;
    }

    /* Top menu */
    nav {
        float: left;
        background: none;
        width: inherit;
    }
    ul.topnav li {
        display: none;
        padding: 0;
    }

    ul.topnav li.icon {
        font-size: 1.5em;
        cursor: pointer;
        float: left;
        display: inline-block;
        text-decoration: none;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav li:not(:first-child) {
        line-height: 3em;
    }
    ul.topnav.responsive li {
        display: block;
        text-align: left;
    }
    ul.topnav li.icon span {
        font-size: .8em;
        padding-left: .5em;
        text-transform: uppercase;
        vertical-align: top;
    }
    ul.rig.manufacturers {
        display: none;
    }
}

