header {
  height: inherit;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  z-index: 1;
  background: $defaultBackgroundColor;
  div {
    display: table-cell;
  }

  .filler {
    width: 50px;
  }
  .company {
    text-align: center;
    width: initial;
    a {
      width: 70px;
      height: 70px;
      background-position: 100%;
      display: inline-block;
    }
  }

  .shopping_cart {
    cursor:pointer;
    width: 50px;
    height: 32px;
    vertical-align: middle;
    padding: 0 1em;

    span, a:not(.shopping_cart_icon) {
      display: none;
    }
  }
}
