@import "header";
@import "catalog";
@import "menu";
@import "orderhistory";

body {
  width: 100%;
}

#promo_container {
  display: none;
}
.site-wrap {
  padding: 75px 1em 0 1em;
  top: -73px;
}
#search {
  display: table;
  table-layout: fixed;
  padding: 5px 0;

  label {
    display: table-cell;
    cursor: pointer;
    margin-top: .3em;
    border-radius: 3px;
    color: #fff;
    background: $highlightedFontColor;
    width: 8em;
    text-align: center;
  }
  input {
    &.inputsearch {
      display: table-cell;
    }
    &.inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
}

ul {
  &.rig {
    &.manufacturers {
      display: none;
    }
  }
}
.checkout {
  display: none;
}

