@import "header";
@import "catalog";
@import "menu";

body {
  width: 100%;
}

#promo_container {
  display: none;
}

#search {
  float: left;
  label {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-top: .3em;
    border-radius: 3px;
    color: #fff;
    padding: 1.5em;
    background: $highlightedFontColor;
  }
  input {
    &.inputsearch {
      width: 70%;
    }
    &.inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
}

ul {
  &.rig {
    &.manufacturers {
      display: none;
    }
  }
}

